div#wrapper
  div#uploadIcon
  ul#activeUser
  div#infoBar
    div#timeLeft= locals.timeLeft
    ul#fileSizeLegend
      li.legend MB
      li.small >10
      li.big >100
      li.bigger >500
      li.extrem >1000
  div#dragArea
