div#filesWrapper
  div#filesArea
  div#dragBack
    div#dropSign
      p
div#uploadingFiles
div#barWrapper
  div#rightMenu
    div#secure
      span(class='#{isProtected}') #{isProtected}
    div#meName
  div#wrapLeft
    div.timer(id='#{deskTimeOut}', title="time left until desktop resets") #{timeLeft}
    div#chat
      div#chatWindow.close
        div#chatContentWrap
          div#chatContent
        div#chatButton <span>+ </span>Open Chat
        span#chatExit [esc] to exit
      div#label Send to <p><span class="allUsers">all</span></p> :
      p#inputWrap
        input
ul#userBar
a#sort(href="#")  tidy up
iframe#downloadiFrame(style="display:none;")

