!!! 5
html(lang="en")
  head

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    title= 'ShareDesk: Share Files - Collaborate'
    <link rel="shortcut icon" href="/images/favicon2.ico">

    title= pageTitle
    <meta name="description" content="With sharedesk you and your friends can share files easily and fast. A simple drag&drop and real-time collaboration interface makes using sharedesk fun.">
    <meta name="keywords" content="sharedesk, desks, desktops, dektop, file-sharing, share, files, store, files, share, large, files, easy, file, sharing, free, file, sharing, fast, file, sharing, drag&drop, file, sharing, real-time, collaboration,">
    <meta name="robots" content="index, follow">


    //STYLES
    link(rel='stylesheet', href='/css/style.css')
    
    //SCRIPTS
    script(type='text/javascript', src='/lib/jquery-1.6.2.min.js')
    script(type='text/javascript', src='/lib/jquery-ui-1.8.12.custom.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')  
    script(type='text/javascript', src='/lib/handlebars.1.0.0.beta.3.js')
    script(type='text/javascript', src='/lib/cufon-yui.js')
    script(type='text/javascript', src='/lib/font.js')
    script(type='text/javascript', src='/js/uploader.js')
    script(type='text/javascript', src='/lib/jquery.jeditable.js')
    script(type='text/javascript', src='/lib/jquery-mousewheel.js')
    script(type='text/javascript', src='/js/script.js')

    //TEMPLATES
    script(id='file-template', type='text/x-handlebars-template')
        div.file(id="{{id}}")
          div.fileWrapper(class="{{sizeClass}}")
            div.format(class="{{format}}")
            div.progress
              div.progressBack
              div.progressPercent
                div.progressCentering
                  span 0
            div.title {{name}}
            div.operations
              div.download
                p Download 
                  span.sizeText ({{size}})
                  span.clicksText ({{downloads}} clicks)
              div.delete
                p Delete

    script(id='user-template', type='text/x-handlebars-template')
        li(id="{{sid}}")
          div(style="background-color:{{color}};") {{username}}

    script(id='message-template', type='text/x-handlebars-template')
        div
          span.username(style="color:{{color}};") {{name}}:
          p {{message}}

    script(id='password-template', type='text/x-handlebars-template')
        div#passwordProtection
          div.center
            div.middle
              p {{text}}
              br
              div.sdInput(style="width:200px; height:45px;")
                div.back
                div.backgroundImage
                  img(src="/images/deskInput.jpg")
                div.illum
                input(type="password", name="deskName", style="font-size:14px;")
              div.sdInput(style="width:200px; height:45px; display:{{remove-protection}}")
                div.back
                div.backgroundImage
                  img(src="/images/deskButton.jpg")
                div.illum
                button() Remove Password



    //INLINE SCRIPTS
    script
      Cufon.replace('.download, .delete');

  body!= body 
    script 
      Cufon.now();
  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24485685-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
