!!! 5
html(lang="en")
  head
    title= pageTitle

    <!-- STYLES -->
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold')
    link(rel='stylesheet', href='/css/style.css')

    
  body!= body    
