div#shareDesk ShareDesk
div#passwordProtection
  div.center
    div.middle
      p You need a password to access this desk 
      br
      div.sdInput(style="width:200px; height:45px;")
        div.back
        div.backgroundImage
          img(src="/images/deskInput.jpg")
        div.illum
        input(type="password", name="deskName", style="font-size:14px;")

