@import "reset.css";

/* ----------------------------------------------------------------------*/
/* --------------------------->>> GLOBAL <<<-----------------------------*/
/* ----------------------------------------------------------------------*/


/* ----------------------------------------------------------------------*/
/* -------------------------->>> STRUCTUR <<<----------------------------*/
/* ----------------------------------------------------------------------*/
#wrapper {

	position:absolute;
	top:20px;
	left:20px;
	right:20px;
	bottom:20px;
	border:solid 1px #9C9C9C;
	background:#E8E8E8;
	padding:20px;

}

/* home page */
h1.home {
	margin:0;
	font-family:'arial';
	font-size:15px;
	width:200px;
	margin:0 auto;
	text-align:center;
}

form.home {
	
	position: fixed;
	top: 50%;
	left: 50%;
	widht:300px;
	height:200px;
	margin-top: -100px;
	margin-left: -150px;
	text-align:center;
	
	label {
		font-family:'arial';
		font-size:30px;
		margin:10px 0;
		display:block;
	}
	
	input {
		border:solid 1px #A1A1A1;
		background:#D1D1D1;
		height:40px;
		width:300px;
		color:#fff;
		padding:5px 10px;
		font-size:20px;
		margin:10px;
	}

}

/* Files */
.file {
	width:60px;
	height:20px;
	position:absolute;
	left:0;
	top:0;
	background:#E391B3;
	border:solid 1px #fff;
	padding:20px;
	text-align:center;

	h1 {
		color:#fff;
	}
}
