@import "reset.css";
/* ----------------------------------------------------------------------*/
/* --------------------------->>> GLOBAL <<<-----------------------------*/
/* ----------------------------------------------------------------------*/
/* ----------------------------------------------------------------------*/
/* -------------------------->>> STRUCTUR <<<----------------------------*/
/* ----------------------------------------------------------------------*/
#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/background.jpg);
}
#dragSignal {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  margin: 20px;
  border: solid 5px blue;
}
#uploadIcon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  left: 30px;
  background: url(../images/newChalkFont.png) no-repeat;
}
/* home page */
a.home {
  font-family: 'arial';
  font-size: 15px;
  color: #615A5C;
  width: 200px;
  margin: 10px auto 0 auto;
  text-align: center;
  display: block;
}
form.home {
  position: fixed;
  top: 50%;
  left: 50%;
  widht: 300px;
  height: 200px;
  margin-top: -100px;
  margin-left: -150px;
  text-align: center;
}
form.home label {
  font-family: 'Cabin Sketch', arial, serif;
  font-size: 25px;
  margin: 10px 0;
  display: block;
  color: #fff;
}
form.home input {
  border: solid 10px #404040;
  background: #A39EA0;
  height: 40px;
  width: 260px;
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  margin: 10px;
}
form.home input:focus {
  outline: none;
  background: #fff;
  color: #52494B;
}
/* New Files */
.file {
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  text-align: center;
  padding: 3px;
  overflow-x: hidden;
  /*round borders*/

  -moz-border-radius: 5px;
  /* FF1-3.6 */

  -webkit-border-radius: 5px;
  /* Saf3-4, iOS 1-3.2, Android <1.6 */

  border-radius: 5px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  border: solid 3px transparent;
}
.file:hover {
  border-top: solid 3px rgba(255, 255, 255, 0.4);
  border-left: solid 3px rgba(255, 255, 255, 0.4);
  border-right: solid 3px rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
}
.file h3 {
  color: #fff;
  font-family: 'Courier';
  font-size: 10px;
  width: 100px;
}
.format {
  position: relative;
  width: 100px;
  height: 65px;
  z-index: 1;
}
.format .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 65px;
  background-position: center;
}
.format .progress {
  position: absolute;
  top: 9px;
  left: 25px;
  width: 49px;
  height: 46px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}
.progressPercent {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 46px;
}
.progressPercent .progressCenter {
  height: 100%;
  width: 49px;
  display: table;
  margin: 0px auto;
}
.progressPercent .progressCenter span {
  position: static;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 15px;
}
.progressBack {
  background: #000;
}
.operations {
  position: relative;
  margin: 0 20px;
  height: 10px;
  margin-bottom: -3px;
  z-index: 2;
}
.operations a {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  float: right;
  padding-left: 5px;
}
.operations a.download {
  background: url(../images/download.png) no-repeat;
}
.operations a.delete {
  background: url(../images/delete.png) no-repeat;
}
form.file-edit-form input {
  background: #fff;
  border: none;
  text-align: center;
}
form.file-edit-form input:focus {
  outline: none;
  background: #fff;
  color: #52494B;
}
/* File Types images*/
.format .unknown {
  background: url(../images/unknown.png) no-repeat;
}
.format .picture {
  background: url(../images/picture.png) no-repeat;
}
.format .video {
  background: url(../images/video.png) no-repeat;
}
.format .audio {
  background: url(../images/audio.png) no-repeat;
}
.format .text {
  background: url(../images/text.png) no-repeat;
}
.format .pdf {
  background: url(../images/pdf.png) no-repeat;
}
.format .image {
  background-position: center;
}
